@using EcomPlat.Data.Models
@model EcomPlat.Data.Models.BusinessDetails
@{
    ViewData["Title"] = "Edit Business Details";
}

<h2>@ViewData["Title"]</h2>

@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

<form asp-action="Edit">
    <input type="hidden" asp-for="BusinessDetailsId" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressLine1" class="control-label"></label>
        <input asp-for="AddressLine1" class="form-control" />
        <span asp-validation-for="AddressLine1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressLine2" class="control-label"></label>
        <input asp-for="AddressLine2" class="form-control" />
        <span asp-validation-for="AddressLine2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StateRegion" class="control-label"></label>
        <input asp-for="StateRegion" class="form-control" />
        <span asp-validation-for="StateRegion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryIso" class="control-label"></label>
        <input asp-for="CountryIso" class="form-control" />
        <span asp-validation-for="CountryIso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressType" class="control-label"></label>
        <select asp-for="AddressType" class="form-control" asp-items="Html.GetEnumSelectList<AddressType>()"></select>
        <span asp-validation-for="AddressType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
