@{
    this.ViewData["Title"] = "Product Management Dashboard";
}

<h2>@this.ViewData["Title"]</h2>
<p>
    Welcome, @this.User.Identity.Name. Use the navigation menu below to manage products, orders, settings, categories, and subcategories.
</p>

<ul>
    <li>
        <a asp-area="Account" asp-controller="BusinessDetailsManagement" asp-action="Index">
            Business Details
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-controller="CompanyManagement" asp-action="Index">
            Manage Companies
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-controller="InventoryManagement" asp-action="Index">
            Manage Inventory
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-controller="ProductsManagement" asp-action="Index">
            Manage Products
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-controller="CategoryManagement" asp-action="Index">
            Manage Categories
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-controller="SubcategoryManagement" asp-action="Index">
            Manage Subcategories
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-controller="OrderManagement" asp-action="Index">
            Manage Orders
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-controller="SupplierManagement" asp-action="Index">
            Manage Suppliers
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-controller="WarehouseManagement" asp-action="Index">
            Management Warehouses
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-controller="ConfigSettingsManagement" asp-action="Index">
            Site Settings
        </a>
    </li>
    <hr />
    <form asp-action="Logout" asp-controller="Account" asp-area="Account" method="post" class="d-inline">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-link" style="padding: 0; margin: 0; border: none; background: none;">Logout</button>
    </form>

</ul>
